@import './variables';

#analytics-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	padding-right: 0.6rem;

	h2 {
		color: $background-color;
		font-size: 1.6rem;
		animation: slide-in-right-left 0.3s ease-in-out;
	}
}
