@import './variables';

#analytics-card {
	width: 650px;
	height: 500px;
	@include card-layout;
	padding: 1rem;
	display: flex;
	flex-direction: column;

	#click-data-cont {
		margin-top: 1.5rem;
		overflow: auto;
		display: flex;
		flex: 1;
		animation: fadein 0.5s ease-in-out;
	}
}

@media only screen and (max-width: 700px) {
	#analytics-card {
		width: 89%;
		height: 100%;
		border-radius: 0.5rem;
		margin-bottom: 1.5rem;

		#click-data-cont {
			flex-direction: column;
		}
	}
}
