#custom-theme-form {
	border-radius: 10px;
	border: 1px solid #ccc;
	flex-grow: 1;
	animation: fadein 0.3s ease-in-out;

	#theme-form-btns {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.themes-btn {
			margin: 0.2rem;
			color: var(--text-color-icon);

			svg {
				font-size: 1.25rem;
			}
		}

		#custom-submit-btn {
			margin-right: 0.5rem;
			background-color: var(--accent-color-alt);
			color: var(--text-color-button);
		}
	}

	#custom-theme-inputs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;

		.custom-form-input {
			width: 48%;
			margin-bottom: 0.2rem;

			label {
				color: var(--text-color-alt);
			}

			input {
				color: var(--text-color);
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	#custom-theme-form {
		#custom-theme-inputs {
			flex-direction: column;
			align-items: center;

			.custom-form-input {
				width: 90%;
				margin-bottom: 1rem;
			}
		}
	}
}
