@import './variables';

#not-loggedin-card {
	min-width: 400px;
	min-height: 150px;
	background-color: $card-color;
	border-radius: 0.8rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 0;

	header {
		text-align: center;
		color: $text-color;
		font-size: 1.2rem;

		h2 {
			margin-bottom: 0.5rem;

			span {
				color: $accent-color;
			}
		}
	}

	.nav-btn {
		background-color: $accent-color;
		color: $background-color;
		font-family: 'Rubik';
	}
}

@media only screen and (max-width: 700px) {
	#not-loggedin-card {
		min-width: 89%;
		width: 89%;
		// min-height: 100%;
		border-radius: 0.5rem;
	}
}
