#themes-list-item {
	display: flex;
	border-radius: 10px;
	border: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 0.4rem;

	.themes-btn {
		margin: 0.2rem;

		svg {
			font-size: 1.25rem;
		}
	}

	.color-box {
		flex-grow: 1;
	}
}
