@import './variables';

.url-card {
	border-bottom: 1px solid #ccc;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	padding: 0.5rem 0.5rem 0.5rem 0.8rem;
	animation: fadein 0.3s ease-in-out;

	p {
		color: $text-color;
		font-size: 1.1rem;
		word-wrap: break-word;
		width: 70%;
	}

	.urls-cont {
		display: flex;
		flex-direction: column;
		word-wrap: break-word;
		width: 70%;

		p {
			margin-bottom: 0.1rem;
			font-size: 1rem;
		}

		span {
			font-style: italic;
			font-size: 0.8rem;
			color: $text-color-alt;
		}
	}

	.urls-btns {
		padding: 0.35rem;
	}

	.analytics-btn {
		color: $accent-color-alt;
	}
}

@media only screen and (max-width: 700px) {
	.url-card {
		flex-direction: column;
		align-items: flex-start;

		p {
			font-size: 1.2rem;
			width: 100%;
		}

		.urls-cont {
			width: 100%;

			p {
				font-size: 1.2rem;
			}
			span {
				font-size: 1.2rem;
			}
		}

		.urls-card-icons {
			display: flex;
			margin-top: 1rem;
			width: 100%;
			justify-content: flex-end;
		}
	}
}
