// Variables moved to :root
// $background-color: #202b3a;
// $card-color: #fff;
// $text-color: rgb(59, 59, 59);
// $text-color-alt: rgba(65, 65, 65, 0.932);
// $text-color-button: #202b3a;
// $text-color-icon: rgba(114, 114, 114, 0.932);
// $accent-color: #eec124;
// $accent-color-alt: #d3a500;
// $error-color: rgb(253, 72, 72);

@mixin centerFlex($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin card-layout {
	border-radius: 0.8rem;
	background: var(--card-color);
	box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
}

@keyframes slide-in-left-right {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-in-right-left {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
