@-webkit-keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #202b3a;
  --card-color: #fff;
  --text-color: rgb(59, 59, 59);
  --text-color-alt: rgba(65, 65, 65, 0.932);
  --text-color-button: #202b3a;
  --text-color-icon: rgba(114, 114, 114, 0.932);
  --text-color-userDetails: #fff;
  --accent-color: #eec124;
  --accent-color-alt: #d3a500;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  -webkit-animation: fadein 0.25s ease-in-out;
          animation: fadein 0.25s ease-in-out;
}

.spinner .MuiCircularProgress-root {
  color: var(--accent-color);
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1.8rem;
}

#navbar h1 {
  color: var(--accent-color);
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#navbar .nav-btn {
  background-color: var(--accent-color-alt);
  color: var(--text-color-button);
  font-size: 0.89rem;
  font-family: 'Rubik';
  margin-right: 0.8rem;
}

#navbar .nav-btn i {
  display: none;
}

#navbar #user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color-userDetails);
}

#navbar #user-details #user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
  margin-right: 0.8rem;
}

#navbar #user-details #user-info h3 {
  font-size: 0.9rem;
  margin-bottom: 0.15rem;
}

#navbar #user-details #user-info span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.85;
}

@media only screen and (max-width: 700px) {
  #navbar {
    margin-bottom: 0.2rem;
  }
  #navbar .nav-btn {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
  #navbar .nav-btn #logout-text {
    display: none;
  }
  #navbar .nav-btn i {
    display: contents;
  }
  #navbar #user-details #user-info {
    display: none;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#not-loggedin-card {
  min-width: 400px;
  min-height: 150px;
  border-radius: 0.8rem;
  background: var(--card-color);
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
          box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
  -webkit-animation: fadein 0.5s ease-in-out;
          animation: fadein 0.5s ease-in-out;
}

#not-loggedin-card header {
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
}

#not-loggedin-card header h2 {
  margin-bottom: 0.5rem;
}

#not-loggedin-card header h2 span {
  color: var(--accent-color);
}

#not-loggedin-card .nav-btn {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: 'Rubik';
}

@media only screen and (max-width: 700px) {
  #not-loggedin-card {
    min-width: 89%;
    width: 89%;
    border-radius: 0.5rem;
  }
  #not-loggedin-card header {
    font-size: 1.1rem;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-card {
  width: 650px;
  height: 500px;
  border-radius: 0.8rem;
  background: var(--card-color);
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
          box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-card header {
  margin-bottom: 0.5rem;
}

#main-card header header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding-left: 0.6rem;
}

#main-card header header h2 {
  color: var(--text-color);
  font-size: 1.6rem;
  -webkit-animation: slide-in-left-right 0.3s ease-in-out;
          animation: slide-in-left-right 0.3s ease-in-out;
}

#main-card header header .add-btn {
  padding: 0.5rem;
  color: var(--text-color-icon);
}

#main-card header #add-url-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadein 0.5s ease-in-out;
          animation: fadein 0.5s ease-in-out;
}

#main-card header #add-url-form .add-url-textfield {
  margin-bottom: 0.6rem;
}

#main-card header #add-url-form .add-url-textfield label {
  color: var(--text-color-alt);
}

#main-card header #add-url-form .add-url-textfield input {
  color: var(--text-color);
}

#main-card header #add-url-form #add-url-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-card header #add-url-form #add-url-btns .add-url-cancel {
  width: 49.5%;
  font-family: 'Rubik', sans-serif;
}

#main-card header #add-url-form #add-url-btns .add-url-submit {
  color: var(--text-color-button);
  font-family: 'Rubik', sans-serif;
  width: 49.5%;
  background-color: var(--accent-color-alt);
}

#main-card ul {
  list-style: none;
  justify-self: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#main-card ul::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#main-card ul::-webkit-scrollbar-track {
  background: transparent;
}

#main-card ul::-webkit-scrollbar-thumb {
  background: rgba(129, 129, 129, 0.562);
  border-radius: 100px;
}

@media only screen and (max-width: 700px) {
  #main-card {
    width: 89%;
    height: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.url-card {
  border-bottom: 1px solid #ccc;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  -webkit-animation: fadein 0.3s ease-in-out;
          animation: fadein 0.3s ease-in-out;
}

.url-card p {
  color: var(--text-color);
  font-size: 1.1rem;
  word-wrap: break-word;
  width: 70%;
}

.url-card .urls-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: break-word;
  width: 70%;
}

.url-card .urls-cont p {
  margin-bottom: 0.1rem;
  font-size: 1rem;
}

.url-card .urls-cont span {
  font-style: italic;
  font-size: 0.75rem;
  color: var(--text-color-alt);
}

.url-card .urls-btns {
  padding: 0.35rem;
  color: var(--text-color-icon);
}

.url-card .analytics-btn {
  color: var(--accent-color-alt);
}

@media only screen and (max-width: 700px) {
  .url-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .url-card p {
    font-size: 1.2rem;
    width: 100%;
  }
  .url-card .urls-cont {
    width: 100%;
  }
  .url-card .urls-cont p {
    font-size: 1.2rem;
  }
  .url-card .urls-cont span {
    font-size: 1.2rem;
  }
  .url-card .urls-card-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#new-user-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2rem;
  -webkit-animation: fadein 0.5s ease-in-out;
          animation: fadein 0.5s ease-in-out;
  color: var(--text-color);
}

#new-user-instructions h3 {
  font-size: 2rem;
}

#new-user-instructions p {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 700px) {
  #new-user-instructions {
    margin-bottom: 2rem;
  }
  #new-user-instructions p {
    font-size: 1rem;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#analytics-card {
  width: 650px;
  height: 500px;
  border-radius: 0.8rem;
  background: var(--card-color);
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
          box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#analytics-card #click-data-cont {
  margin-top: 1.5rem;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-animation: fadein 0.5s ease-in-out;
          animation: fadein 0.5s ease-in-out;
}

@media only screen and (max-width: 700px) {
  #analytics-card {
    width: 89%;
    height: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
  #analytics-card #click-data-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#analytics-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  padding-right: 0.6rem;
}

#analytics-header .back-btn {
  color: var(--text-color-icon);
}

#analytics-header h2 {
  color: var(--text-color);
  font-size: 1.6rem;
  -webkit-animation: slide-in-right-left 0.3s ease-in-out;
          animation: slide-in-right-left 0.3s ease-in-out;
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#clicks-list-cont {
  overflow: auto;
  width: 60%;
}

#clicks-list-cont #clicks-list {
  margin: auto;
  width: 98%;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  border-spacing: 0;
  border-collapse: collapse;
}

#clicks-list-cont #clicks-list th {
  padding: 5px;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

#clicks-list-cont::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#clicks-list-cont::-webkit-scrollbar-track {
  background: transparent;
}

#clicks-list-cont::-webkit-scrollbar-thumb {
  background: rgba(129, 129, 129, 0.562);
  border-radius: 100px;
}

@media only screen and (max-width: 700px) {
  #clicks-list-cont {
    width: 100%;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clicks-list-item td {
  color: var(--text-color-alt);
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#no-clicks-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2rem;
  -webkit-animation: fadein 0.5s ease-in-out;
          animation: fadein 0.5s ease-in-out;
  color: var(--text-color);
}

#no-clicks-data h3 {
  font-size: 2rem;
}

#no-clicks-data p {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 700px) {
  #no-clicks-data {
    margin-bottom: 2rem;
  }
  #no-clicks-data p {
    font-size: 1rem;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#total-clicks {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 0;
}

#total-clicks h3 {
  font-size: 1.8rem;
  color: var(--text-color);
}

#total-clicks p {
  font-size: 2.5rem;
  color: var(--accent-color-alt);
}

@media only screen and (max-width: 700px) {
  #total-clicks {
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
  }
  #total-clicks h3 {
    margin-bottom: 1rem;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#themes-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#themes-cont #themes {
  width: 650px;
  height: 500px;
  border-radius: 0.8rem;
  background: var(--card-color);
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
          box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}

#themes-cont #color-picker-card {
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background: var(--card-color);
  -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
          box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
}

#themes-cont #color-picker-card h3 {
  font-size: 1.6rem;
  -webkit-animation: fadein 0.3s ease-in-out;
          animation: fadein 0.3s ease-in-out;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
}

#themes-cont #color-picker-card p {
  width: 95%;
  margin-bottom: 1rem;
}

#themes-cont #color-picker-card #copy-color {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  border: 1px solid var(--text-color-icon);
  border-radius: 10px;
}

#themes-cont #color-picker-card #copy-color > span {
  width: 40%;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
}

#themes-cont #color-picker-card #copy-color .copy-btn {
  color: var(--text-color-icon);
}

@media only screen and (max-width: 700px) {
  #themes-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #themes-cont #themes {
    width: 89%;
    height: 100%;
    border-radius: 0.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  #themes-cont #color-picker-card {
    margin: 0;
    width: 89%;
    max-width: 89%;
    height: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#themes-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  padding-right: 0.6rem;
}

#themes-header .back-btn {
  color: var(--text-color-icon);
}

#themes-header h2 {
  color: var(--text-color);
  font-size: 1.6rem;
  -webkit-animation: slide-in-right-left 0.3s ease-in-out;
          animation: slide-in-right-left 0.3s ease-in-out;
}

#themes-list {
  list-style: none;
}

#themes-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 0.4rem;
  -webkit-animation: fadein 0.3s ease-in-out;
          animation: fadein 0.3s ease-in-out;
}

#themes-list-item .themes-btn {
  margin: 0.2rem;
}

#themes-list-item .themes-btn svg {
  font-size: 1.25rem;
}

#themes-list-item .color-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#custom-theme-form {
  border-radius: 10px;
  border: 1px solid #ccc;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-animation: fadein 0.3s ease-in-out;
          animation: fadein 0.3s ease-in-out;
}

#custom-theme-form #theme-form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#custom-theme-form #theme-form-btns .themes-btn {
  margin: 0.2rem;
  color: var(--text-color-icon);
}

#custom-theme-form #theme-form-btns .themes-btn svg {
  font-size: 1.25rem;
}

#custom-theme-form #theme-form-btns #custom-submit-btn {
  margin-right: 0.5rem;
  background-color: var(--accent-color-alt);
  color: var(--text-color-button);
}

#custom-theme-form #custom-theme-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#custom-theme-form #custom-theme-inputs .custom-form-input {
  width: 48%;
  margin-bottom: 0.2rem;
}

#custom-theme-form #custom-theme-inputs .custom-form-input label {
  color: var(--text-color-alt);
}

#custom-theme-form #custom-theme-inputs .custom-form-input input {
  color: var(--text-color);
}

@media only screen and (max-width: 700px) {
  #custom-theme-form #custom-theme-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #custom-theme-form #custom-theme-inputs .custom-form-input {
    width: 90%;
    margin-bottom: 1rem;
  }
}
