* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #202b3a;
  min-height: 100vh;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1.8rem;
}

#navbar h1 {
  color: #eec124;
  font-size: 2rem;
  margin: 1rem;
}

#navbar .nav-btn {
  background-color: #d3a500;
  color: #202b3a;
  margin-left: 0.65rem;
  font-size: 0.8rem;
  font-family: 'Rubik';
}

#navbar .nav-btn i {
  display: none;
}

#navbar #nav-details {
  margin: 1rem;
}

#navbar #nav-details #user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#navbar #nav-details #user-details #user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar #nav-details #user-details #user-info div {
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0.15rem;
}

#navbar #nav-details #user-details #user-info div i {
  font-size: 0.75rem;
  margin-right: 0.3rem;
}

#navbar #nav-details #user-details #user-info span {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.85;
}

@media only screen and (max-width: 700px) {
  #navbar {
    margin-bottom: 0.2rem;
  }
  #navbar .nav-btn {
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  #navbar .nav-btn #logout-text {
    display: none;
  }
  #navbar .nav-btn i {
    display: contents;
  }
  #navbar #nav-details #user-details #user-info {
    display: none;
  }
}

#main-card {
  width: 650px;
  height: 500px;
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-card header {
  margin-bottom: 0.5rem;
}

#main-card header header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding-left: 0.6rem;
}

#main-card header header h2 {
  color: #202b3a;
  font-size: 1.6rem;
}

#main-card header header .add-btn {
  padding: 0.5rem;
}

#main-card header header .add-btn i {
  font-size: 2rem;
  color: #d3a500;
  border-radius: 50%;
}

#main-card header header .add-btn i:hover {
  color: #202b3a;
}

#main-card header #add-url-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-card header #add-url-form .add-url-textfield {
  margin-bottom: 0.6rem;
}

#main-card header #add-url-form #add-url-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-card header #add-url-form #add-url-btns .add-url-cancel {
  color: #202b3a;
  width: 49.5%;
  font-family: 'Rubik', sans-serif;
}

#main-card header #add-url-form #add-url-btns .add-url-submit {
  color: #eec124;
  font-family: 'Rubik', sans-serif;
  width: 49.5%;
  background-color: #202b3a;
}

#main-card ul {
  list-style: none;
  justify-self: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#main-card ul::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#main-card ul::-webkit-scrollbar-track {
  background: transparent;
}

#main-card ul::-webkit-scrollbar-thumb {
  background: rgba(129, 129, 129, 0.562);
  border-radius: 100px;
}

@media only screen and (max-width: 700px) {
  #main-card {
    width: 89%;
    height: 100%;
    border-radius: 0.5rem;
  }
}

.url-card {
  border-bottom: 1px solid #ccc;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
}

.url-card p {
  color: #3b3b3b;
  font-size: 1.1rem;
}

.url-card .urls-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.url-card .urls-cont p {
  margin-bottom: 0.1rem;
  font-size: 1rem;
}

.url-card .urls-cont span {
  font-style: italic;
  font-size: 0.8rem;
  color: rgba(65, 65, 65, 0.932);
}

.url-card .urls-btns {
  padding: 0.3rem;
  margin-left: 0.5rem;
}

.url-card .urls-btns i {
  font-size: 20px;
}

.url-card .analytics-btn {
  color: #d3a500;
}

@media only screen and (max-width: 700px) {
  .url-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .url-card p {
    font-size: 1.2rem;
    width: 100%;
  }
  .url-card .urls-cont {
    width: 100%;
  }
  .url-card .urls-cont p {
    font-size: 1.2rem;
  }
  .url-card .urls-cont span {
    font-size: 1.2rem;
  }
  .url-card .urls-card-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#analytics-card {
  width: 650px;
  height: 500px;
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 700px) {
  #analytics-card {
    width: 89%;
    height: 100%;
    border-radius: 0.5rem;
  }
}

#analytics-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  padding-right: 0.6rem;
}

#analytics-header h2 {
  color: #202b3a;
  font-size: 1.6rem;
}

#clicks-list-cont {
  overflow: auto;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin-top: 1.5rem;
}

#clicks-list-cont #clicks-list {
  margin: auto;
  width: 98%;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  border-spacing: 0;
  border-collapse: collapse;
}

#clicks-list-cont #clicks-list th {
  padding: 5px;
  color: #202b3a;
  border-bottom: 1px solid #202b3a;
}

#clicks-list-cont::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#clicks-list-cont::-webkit-scrollbar-track {
  background: transparent;
}

#clicks-list-cont::-webkit-scrollbar-thumb {
  background: rgba(129, 129, 129, 0.562);
  border-radius: 100px;
}

.clicks-list-item td {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

#no-clicks-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#no-clicks-data h3 {
  font-size: 2rem;
  color: #202b3a;
  margin-top: 2rem;
}

#no-clicks-data p {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}
